<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/xeditable.css" />
    <style>
        .ALIVE {
            color: green;
        }
        .TIMEOUT {
            color: red;
        }
    </style>
</head>
<body>
<div class="container" ng-app="ServerPing" ng-controller="ServersController">
    <div class="panel panel-default ">
            <div class="panel-heading">Servers status</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <label for="interval">Check interval: </label>
                        <a href="#" editable-number="checkInterval" onaftersave="intervalChanged()" e-min="3">{{ checkInterval }}</a>
                    </div>
                    <div class="col-md-2">
                        <button ng-disabled="isStarted() || noServers()" ng-click="startCheck()" class="btn btn-primary">Start</button>
                        <button ng-disabled="!isStarted()" ng-click="stopCheck()" class="btn btn-danger">Stop</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button ng-show="!addServersVisible" ng-click="toggleAddServerVisibility()" class="btn btn-default">Add Servers</button>
                        <button ng-show="addServersVisible" ng-click="toggleAddServerVisibility()" class="pull-left btn btn-default">Hide</button>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="addServersVisible">
                    <div class="panel-heading">Add servers you want to monitor</div>
                    <div class="panel-body">
                        <form name="form" role="form" class="form-inline">
                            <div class="form-group">
                               <label for="name">Name: </label>
                               <input class="form-control" placeholder="myServerName" ngMaxlength="100" id="name" ng-model="emptyServer.name" type="text" required />
                            </div>
                            <div class="form-group">
                                <label  for="url">URL: </label>
                                <input class="form-control" placeholder="http://myserver.com" id="url"  ng-model="emptyServer.url" type="url" required />
                            </div>
                            <div class="form-group">
                                <p>
                                    <button class="btn btn-default" ng-disabled="form.$invalid" ng-click="add(emptyServer)">Add</button>
                                </p>
                            </div>
                       </form>
                   </div>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-1">Number</th>
                            <th class="col-md-1">Status</th>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-3">URL</th>
                            <th class="col-md-2">Last Checked</th>  
                            <th class="col-md-2">&nbsp;</th>    
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="server in servers track by $index">
                                <td>{{ $index + 1 }}</td>
                                <td ng-class="server.status">{{ server.status }}</td>
                                <td><a href="#" onaftersave="serverNameChanged()" editable-text="server.name">{{ server.name }}</a></td>
                                <td>{{ server.url }}</td>
                                <td>{{ server.lastChecked }}</td>
                                <td><button class="btn btn-danger" ng-click="remove($index)">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
               </div>
            </div>
        </div>
    </div>
   
</body>
    <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="application/javascript" src="js/pinger.js"></script>
    <script type="application/javascript" src="js/xeditable.min.js"></script>
    <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="application/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
</html>
